<ul class="nav">
  <li class="nav-item">
    <%= link_to 'users', users_path, class: 'nav-link text-info' %>
  </li>
  <% if signed_in? -%>
    <li class="nav-item">
      <%= link_to 'pings', pings_path, class: 'nav-link text-info' %>
    </li>
    <li class="nav-item">
      <%= link_to 'archives', archives_path, class: 'nav-link text-info' %>
    </li>
    <li class="nav-item">
      <%= button_to 'sign out', sign_out_path, method: :delete, class: 'nav-link bg-transparent border-0 sign-out-btn' %>
    </li>
  <% else -%>
    <li class="nav-item">
      <%= link_to 'sign in', sign_in_path, class: 'nav-link text-info' %>
    </li>
  <% end -%>
</ul>
